<div class="other_items fadeUpTrigger">
  <div class="img_swiper item_list">
    <div class="splide" role="group" aria-label="3枚表示のスライダー(1枚ごとスライド)">
      <div class="splide__track">
        <div class="splide__list">
          <a href="/" class="splide__slide">
            <img
              src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/lineup_01.png"
              alt=""
              width="219"
              height="254"
            >
            <p class="lineup_name">商品名(個別ページヘ)</p>
          </a>
          <a href="/" class="splide__slide">
            <img
              src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/lineup_02.png"
              alt=""
              width="219"
              height="254"
            >
            <p class="lineup_name">商品名(個別ページヘ)</p>
          </a>
          <a href="/" class="splide__slide">
            <img
              src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/lineup_03.png"
              alt=""
              width="219"
              height="254"
            >
            <p class="lineup_name">商品名(個別ページヘ)</p>
          </a>
        </div>
        <!-- splide__list -->
      </div>
      <!-- splide__track -->
      <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev button prev"></button>
        <button class="splide__arrow splide__arrow--next button next"></button>
      </div>
    </div>
    <!-- splide -->
  </div>
  <!-- img_swiper -->
</div>
<section class="cta fadeUpTrigger">
  <div class="cta_container">
    <div class="cta_txt">
      <p class="en_ttl">CONTACT</p>
      <a href="{{ pages.contact.url }}" class="btn"
        >お問い合わせ<span
          ><img
            src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
            alt=""
            width="43"
            height="43"></span
      ></a>
    </div>
    <!-- cta_txt -->
    <div class="cta_img">
      <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/cta_img.jpg" alt="" width="500" height="289">
    </div>
  </div>
  <!-- cta_container -->
</section>
<!-- cta -->

{% schema %}
{
  "name": "商品一覧とcta",
  "presets": [
    {
      "name": "商品一覧とcta2"
    }
  ]
}
{% endschema %}
