<main>
  <section class="kv fadeInTrigger">
    <div class="kv_img">
      <picture>
        <source media="(max-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/kv_sp.png">
        <source media="(min-width: 769px)" srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/kv_pc.png">
        <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/kv_pc.png" alt="">
      </picture>
    </div>
    <div class="kv_bg"><img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/kvcp_bg.png" alt=""></div>
    <h1 class="kv_cp">
      いい肉は、<br>
      佐賀に<br>
      ある。
    </h1>
    <div class="kv_kanban">
      <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/kanban.png" alt="特選黒毛和牛JAグループ佐賀">
    </div>
    <div class="kv_banner pc">
      <a href="/">
        特集ページ<br>
        バナー
      </a>
    </div>
  </section>
  <!-- kv -->
  <section class="about">
    <div class="about_grade"></div>
    <div class="about_container fadeUpTrigger">
      <div class="about_img">
        <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/about_img_02.png" alt="">
      </div>
      <div class="about_text">
        <p class="en_ttl">ABOUT</p>
        <h2 class="jp_ttl">ナカオ商店について</h2>
        <p class="txt">
          サンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。
        </p>
        <a href="about.html" class="btn"
          >ブランドストーリーを読む<span
            ><img
              src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
              alt=""
              width="43"
              height="43"></span
        ></a>
        <p class="about_copy">
          <img
            src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/about_copy.png"
            alt="ある時、思った。この肉を日本中に"
          >
        </p>
      </div>
      <!-- about_text -->
    </div>
    <!-- about_container -->
  </section>
  <!-- about -->
  <section class="bland fadeUpTrigger">
    <div class="wrapper">
      <p class="en_ttl">OUR BLAND</p>
      <div class="bland_container">
        <div class="copy_img">
          <img
            src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/bland_copy.png"
            alt="この大地だから成せる。佐賀ブランドの味わい。"
          >
        </div>
        <div class="bland_txt">
          <h2 class="jp_ttl">佐賀牛について</h2>
          <p class="txt">
            サンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプル。
          </p>
          <a href="sagabeef.html" class="btn"
            >こだわりを知る<span
              ><img
                src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
                alt=""
                width="43"
                height="43"></span
          ></a>
        </div>
      </div>
    </div>
  </section>
  <!-- bland -->
  <section class="lineup">
    <div class="wrapper">
      <div class="lineup_container">
        <div class="lineup_txt fadeUpTrigger">
          <p class="en_ttl">LINE UP</p>
          <h2 class="jp_ttl">商品一覧</h2>
          <ul class="lineup_listbox">
            <li><a href="item.html" class="lineup_list">商品名 1</a></li>
            <li><a href="item.html" class="lineup_list">商品名 2</a></li>
            <li><a href="item.html" class="lineup_list">商品名 3</a></li>
          </ul>
        </div>
        <!-- lineup_txt -->
        <div class="img_swiper fadeUpTrigger delay02">
          <div class="splide" role="group" aria-label="3枚表示のスライダー(1枚ごとスライド)">
            <div class="splide__track">
              <div class="splide__list">
                <a href="item.html" class="splide__slide">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/lineup_01.png"
                    alt=""
                    width="219"
                    height="254"
                  >
                  <p class="lineup_name">商品名(個別ページヘ)</p>
                </a>
                <a href="item.html" class="splide__slide">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/lineup_02.png"
                    alt=""
                    width="219"
                    height="254"
                  >
                  <p class="lineup_name">商品名(個別ページヘ)</p>
                </a>
                <a href="item.html" class="splide__slide">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/lineup_03.png"
                    alt=""
                    width="219"
                    height="254"
                  >
                  <p class="lineup_name">商品名(個別ページヘ)</p>
                </a>
              </div>
              <!-- splide__list -->
            </div>
            <!-- splide__track -->
            <div class="splide__arrows">
              <button class="splide__arrow splide__arrow--prev button prev"></button>
              <button class="splide__arrow splide__arrow--next button next"></button>
            </div>
          </div>
          <!-- splide -->
        </div>
        <!-- img_swiper -->
      </div>
    </div>
  </section>
  <!-- lineup -->
  <!-- 動画が入るところ -->
  <section class="beef_anime">
    <div class="grade"></div>
    <video
      src="https://cdn.shopify.com/videos/c/o/v/9b98a843624d4c53a0910fcb7be3f8d3.mp4"
      loop
      autoplay
      muted
      playsinline
      allowsInlineMediaPlayback
    ></video>
  </section>
  <!-- 動画が入るところここまで -->
  <section class="qa fadeUpTrigger">
    <div class="img_curve">
      <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/curv_black.png" alt="" width="1440" height="78">
    </div>
    <div class="wrapper">
      <div class="qa_container">
        <div class="qa_box">
          <p class="en_ttl">Q&A</p>
          <h2 class="jp_txt">お客様からよくいただく質問をまとめました。</h2>
        </div>
        <div class="qa_box">
          <a href="faq.html" class="btn"
            >よくある質問へ<span
              ><img
                src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
                alt=""
                width="43"
                height="43"></span
          ></a>
        </div>
      </div>
      <!-- qa_container -->
    </div>
  </section>
  <!-- qa -->
  <section class="info">
    <div class="wrapper-sp">
      <div class="info_container">
        <div class="info_box">
          <a href="company.html" class="btn"
            >会社概要<span
              ><img
                src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
                alt=""
                width="43"
                height="43"></span
          ></a>
        </div>
        <div class="info_box">
          <a href="policy.html" class="btn"
            >プライバシーポリシー<span
              ><img
                src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
                alt=""
                width="43"
                height="43"></span
          ></a>
        </div>
        <div class="info_box">
          <a href="terms.html" class="btn"
            >特定商取引法に<br>
            基づく表記<span
              ><img
                src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
                alt=""
                width="43"
                height="43"></span
          ></a>
        </div>
      </div>
      <!-- info_container -->
    </div>
  </section>
  <!-- info -->
  <section class="cta fadeUpTrigger">
    <div class="cta_container">
      <div class="cta_txt">
        <p class="en_ttl">CONTACT</p>
        <a href="contact.html" class="btn"
          >お問い合わせ<span
            ><img
              src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
              alt=""
              width="43"
              height="43"></span
        ></a>
      </div>
      <!-- cta_txt -->
      <div class="cta_img">
        <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/cta_img.jpg" alt="" width="500" height="289">
      </div>
    </div>
    <!-- cta_container -->
  </section>
  <!-- cta -->
</main>

{% schema %}
{
  "name": "top-mainpage",
  "presets": [
    {
      "name": "top-main"
    }
  ]
}
{% endschema %}
