<main>
  <div class="pages_bg_sp">
    <section class="subapge_head fadeInTrigger">
      <div class="head_img">
        <img
          src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/subpages_head_bg.png"
          alt=""
          width="968"
          height="968"
        >
      </div>
      <h1 class="subapge_jp">会社概要</h1>
      <p class="subpage_txt">COMPANY</p>
      <div class="pagenav">
        <a href="#com_info" class="btn"
          >会社情報<span
            ><img
              src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
              alt=""
              width="43"
              height="43"></span
        ></a>
        <a href="#shop_info" class="btn"
          >店舗情報<span
            ><img
              src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
              alt=""
              width="43"
              height="43"></span
        ></a>
      </div>
    </section>
    <!-- about_head -->
    <div class="wrapper wrapper_terms fadeUpTrigger">
      <section class="company" id="com_info">
        <div class="com_ttl">
          <div class="com_ttl_bg">
            <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/com_bg.png" alt="">
          </div>
          <h2 class="com_ttl_txt">
            会社<br>
            概要
          </h2>
        </div>
        <div class="com_contents">
          <div class="inner_contents">
            <dl class="pages_list">
              <dt class="info_head">会社名</dt>
              <dd class="contents">ナカオ商店</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">本社所在地</dt>
              <dd class="contents">〒840-0054 佐賀県佐賀市水ケ江三丁目８番9-2号 ＬＵＳＳＯ ７</dd>
            </dl>
            <div class="pc">
              <dl class="pages_list">
                <dt class="info_head">TEL / FAX</dt>
                <dd class="contents">0952-97-6699 / 0952-97-6699</dd>
              </dl>
            </div>
            <div class="sp">
              <dl class="pages_list">
                <dt class="info_head">TEL</dt>
                <dd class="contents"><a href="tel:0952-97-6699">0952-97-6699</a></dd>
              </dl>
              <dl class="pages_list">
                <dt class="info_head">FAX</dt>
                <dd class="contents">0952-97-6699</dd>
              </dl>
            </div>
            <dl class="pages_list">
              <dt class="info_head">代表者</dt>
              <dd class="contents">吉田 正人</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">設立</dt>
              <dd class="contents">2019年1月1日</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">従業員</dt>
              <dd class="contents">１３人</dd>
            </dl>
            {% comment %}
              <dl class="pages_list">
                <dt class="info_head">事業内容</dt>
                <dd class="contents">焼肉店</dd>
              </dl>
            {% endcomment %}
          </div>
        </div>
      </section>
      <!-- company -->
      <section class="company fadeUpTrigger" id="shop_info">
        <div class="com_ttl">
          <div class="com_ttl_bg">
            <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/com_bg.png" alt="">
          </div>
          <h2 class="com_ttl_txt">
            店舗<br>
            情報
          </h2>
        </div>
        <div class="com_contents">
          <div class="inner_contents">
            <div class="shop_info">
              <h3 class="shopname">ナカオ商店</h3>
              <address>〒840-0812 佐賀県佐賀市愛敬町１１−１２ 2F</address>
            </div>
            <div class="shop_map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3336.1695963323564!2d130.29568031430247!3d33.26205205905592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541cb107734322d%3A0xf617f9d0f50885e6!2z44OK44Kr44Kq5ZWG5bqX!5e0!3m2!1sja!2sjp!4v1724119493546!5m2!1sja!2sjp"
                width="600"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
            {% comment %}
              <div class="shop_info shopsecond">
                <h3 class="shopname">〇〇店</h3>
                <address>住所が入ります。</address>
              </div>
              <div class="shop_map">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6607.56749145343!2d135.50257007977248!3d34.72867554227702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e4396c12ce49%3A0x3bd7c4e0bf1076cf!2z5paw5aSn6Ziq6aeF!5e0!3m2!1sja!2sjp!4v1722318556226!5m2!1sja!2sjp"
                  width="600"
                  height="450"
                  style="border:0;"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
            {% endcomment %}
          </div>
        </div>
      </section>
      <!-- company -->
    </div>
  </div>
  <section class="cta fadeUpTrigger">
    <div class="cta_container">
      <div class="cta_txt">
        <p class="en_ttl">CONTACT</p>
        <a href="{{ pages.contact.url }}" class="btn"
          >お問い合わせ<span
            ><img
              src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
              alt=""
              width="43"
              height="43"></span
        ></a>
      </div>
      <!-- cta_txt -->
      <div class="cta_img">
        <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/cta_img.jpg" alt="" width="500" height="289">
      </div>
    </div>
    <!-- cta_container -->
  </section>
  <!-- cta -->
</main>
