<main>
  <div class="pages_bg_sp">
    <section class="subapge_head faq_head fadeUpTrigger">
      <div class="head_img pc">
        <img
          src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/subpages_head_bg.png"
          alt=""
          width="968"
          height="968"
        >
      </div>
      <h1 class="subapge_jp">よくある質問</h1>
      <p class="subpage_txt">Q&A</p>
    </section>
    <!-- about_head -->
    <section class="faq_contents fadeUpTrigger">
      <ul class="accordion-area">
        <li>
          <section>
            <h3 class="title">電話やFAXで注文できますか？</h3>
            <div class="box">
              <p>
                ご注文方法はインターネットからのご注文のみとなっております。お電話やFAXでのご注文は承っておりませんのでご了承ください。
              </p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">注文内容の変更/キャンセルはできますか？</h3>
            <div class="box">
              <p>
                申し訳ありません。生鮮食品なのでお受付は出来かねます。但し、こちらの発注ミスや商品に何か問題がある場合はもちろん無償でご交換いたしますので、メールまたはお問合せフォームよりご連絡下さい。
              </p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">温度帯は？(冷蔵・冷凍・常温など)</h3>
            <div class="box">
              <p>配送の温度帯は冷凍のみとなります。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">配送で使用する会社は？</h3>
            <div class="box">
              <p>ヤマト運輸にて配送致します。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">送料は？（単価表などあれば）</h3>
            <div class="box">
              <p>送料は基本的には全て商品代にお含みしておりますので、無料となります。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">注文・決済完了から何営業日以内に発送しますか？</h3>
            <div class="box">
              <p>
                ご注文・決済完了後、土日祝日を除く5営業日以内に発送致します。<br>
                但し、一部商品は入荷状況により配送が遅れてしまう場合が御座います。ご了承下さい。
              </p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">日付指定はできますか？</h3>
            <div class="box">
              <p>
                お届け日は、ご注文日の7日以降よりご希望の日時をお選び頂けます。
                お届け日を指定しない場合は、ご注文・決済完了後、土日祝日を除く5営業日以内に発送致します。<br>
                ※お急ぎの方は、お問合せフォームよりご相談下さい。
              </p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">海外発送は可能でしょうか？</h3>
            <div class="box">
              <p>申し訳ございませんが、海外への発送は承っておりません。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">複数の配送先に送ることはできますか？</h3>
            <div class="box">
              <p>
                1回のご注文内でお届け先を分けることは致しかねます。複数の配送先へのお届けをご希望の場合は、お手数ですがそれぞれのお届け先ごとにご注文をお願い致します。
              </p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">別々に注文した商品を同梱できますか？</h3>
            <div class="box">
              <p>
                同梱は可能ですが、個別包装は致しかねます。同梱の場合は注文フォームの備考欄にご記入をお願い致します。
              </p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">支払い方法は？</h3>
            <div class="box">
              <p>
                お支払方法はクレジットカード、または代引き(手数料330円税込)のみとなります。原則お振込みや後払いでのご対応は行っておりません。<br>
                但し、法人のお客様でまとまったご注文のみ、お振込み対応を検討する事は可能ですので、一度メール、またはお問合せフォームよりご相談下さい。
              </p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">代引きの場合手数料はかかりますか？</h3>
            <div class="box">
              <p>代引き手数料330円(税込)はお客様のご負担になります。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">クレジット決済がある場合、どの会社が使えますか？</h3>
            <div class="box">
              <p>VISA、Diners、Master、JCB、American Expressの各種カードがご利用いただけます。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">お客様都合によるキャンセル・返品・交換・変更は承りますか</h3>
            <div class="box">
              <p>ご注文確定後のお客様都合によるキャンセル・返品・交換・ご注文内容の変更は、原則承っておりません。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">誤発送や、不良品をお届けした場合、商品到着後いつまでに連絡すれば良いですか？</h3>
            <div class="box">
              <p>商品到着後7日以内に下記メール、またはお問合せフォームよりご連絡お願い致します。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">返品送料はどうしますか？</h3>
            <div class="box">
              <p>初期不良、発送商品間違いの場合、当店着払いにてご対応致します。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">返品はご注文後何日以内ですか？</h3>
            <div class="box">
              <p>
                原則、ご注文から7日間とさせて頂いております。7日間以内にご入金を確認出来なかった場合は、購入の意思がないものとし、注文を自動的にキャンセルとさせて頂きます。
              </p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">ギフトラッピング、のし、メッセージカードなどはありますか？</h3>
            <div class="box">
              <p>ご準備可能です。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">ギフトラッピング、のし、メッセージカードなどある場合、別途費用いくらですか？</h3>
            <div class="box">
              <p>別途費用は頂いておりません。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">営業日、営業時間を教えてください。</h3>
            <div class="box">
              <p>基本的に、土日祝日と年末年始、お盆休みを除く平日10時～18時となります。</p>
            </div>
          </section>
        </li>
      </ul>
    </section>
  </div>
  <!-- pages_bg_sp -->
  <section class="cta fadeUpTrigger">
    <div class="cta_container">
      <div class="cta_txt">
        <p class="en_ttl">CONTACT</p>
        <a href="{{ pages.contact.url }}" class="btn"
          >お問い合わせ<span
            ><img
              src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
              alt=""
              width="43"
              height="43"></span
        ></a>
      </div>
      <!-- cta_txt -->
      <div class="cta_img">
        <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/cta_img.jpg" alt="" width="500" height="289">
      </div>
    </div>
    <!-- cta_container -->
  </section>
  <!-- cta -->
</main>
