<main>
  <div class="pages_bg_sp">
    <section class="subapge_head faq_head fadeUpTrigger">
      <div class="head_img pc">
        <img
          src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/subpages_head_bg.png"
          alt=""
          width="968"
          height="968"
        >
      </div>
      <h1 class="subapge_jp">よくある質問</h1>
      <p class="subpage_txt">Q&A</p>
    </section>
    <!-- about_head -->
    <section class="faq_contents fadeUpTrigger">
      <ul class="accordion-area">
        <li>
          <section>
            <h3 class="title">質問が入ります。質問が入ります。質問が入ります。</h3>
            <div class="box">
              <p>回答がはいります。回答がはいります。回答がはいります。回答がはいります。回答がはいります。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">質問が入ります。質問が入ります。質問が入ります。</h3>
            <div class="box">
              <p>回答がはいります。回答がはいります。回答がはいります。回答がはいります。回答がはいります。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">質問が入ります。質問が入ります。質問が入ります。</h3>
            <div class="box">
              <p>回答がはいります。回答がはいります。回答がはいります。回答がはいります。回答がはいります。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">質問が入ります。質問が入ります。質問が入ります。</h3>
            <div class="box">
              <p>回答がはいります。回答がはいります。回答がはいります。回答がはいります。回答がはいります。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">質問が入ります。質問が入ります。質問が入ります。</h3>
            <div class="box">
              <p>回答がはいります。回答がはいります。回答がはいります。回答がはいります。回答がはいります。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">質問が入ります。質問が入ります。質問が入ります。</h3>
            <div class="box">
              <p>回答がはいります。回答がはいります。回答がはいります。回答がはいります。回答がはいります。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">質問が入ります。質問が入ります。質問が入ります。</h3>
            <div class="box">
              <p>回答がはいります。回答がはいります。回答がはいります。回答がはいります。回答がはいります。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">質問が入ります。質問が入ります。質問が入ります。</h3>
            <div class="box">
              <p>回答がはいります。回答がはいります。回答がはいります。回答がはいります。回答がはいります。</p>
            </div>
          </section>
        </li>
      </ul>
    </section>
  </div>
  <!-- pages_bg_sp -->
  <section class="cta fadeUpTrigger">
    <div class="cta_container">
      <div class="cta_txt">
        <p class="en_ttl">CONTACT</p>
        <a href="{{ pages.contact.url }}" class="btn"
          >お問い合わせ<span
            ><img
              src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
              alt=""
              width="43"
              height="43"></span
        ></a>
      </div>
      <!-- cta_txt -->
      <div class="cta_img">
        <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/cta_img.jpg" alt="" width="500" height="289">
      </div>
    </div>
    <!-- cta_container -->
  </section>
  <!-- cta -->
</main>
