<main>
  <section class="about_head fadeInTrigger">
    <div class="head_img">
      <picture>
        <source
          media="(max-width: 768px)"
          srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/about_head_imgsp.png"
        >
        <source
          media="(min-width: 769px)"
          srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/about_head_img.png"
        >
        <img
          src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/about_head_img.png"
          alt=""
          width="968"
          height="968"
        >
      </picture>
    </div>
    <div class="head_bg">
      <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/about_ttl_bg.png" alt="">
    </div>
    <div class="head_ttl_box">
      <div class="head_inner_box">
        <p class="sub_ttl">ABOUT</p>
        <h1 class="subttl_jp">ナカオ商店について</h1>
      </div>
    </div>
  </section>
  <!-- about_head -->
  <section class="story ">
    <div class="wrapper">
      <h2 class="story_ttl fadeUpTrigger">ブランド誕生ストーリー</h2>
    </div>
    <!-- wrapper -->
    <div class="story_container fadeUnTrigger">
      <div class="story_box">
        <h3 class="story_inner_ttl">見出しが入ります。</h3>
        <p class="txt">
          サンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。<br>
          ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。
        </p>
      </div>
      <div class="story_img">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/story_01_sp.png"
          >
          <source
            media="(min-width: 769px)"
            srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/story_01.jpg"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/story_01.jpg"
            alt=""
            width="665"
            height="490"
          >
        </picture>
      </div>
    </div>
    <div class="story_container reverse fadeUpTrigger">
      <div class="story_box">
        <h3 class="story_inner_ttl">見出しが入ります。</h3>
        <p class="txt">
          サンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。<br>
          ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。
        </p>
      </div>
      <div class="story_img">
        <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/story_02.jpg" alt="" width="665" height="490">
      </div>
    </div>
    <!-- 動画が入るところ -->
    <section class="beef_anime">
      <div class="grade"></div>
      <video
        src="https://cdn.shopify.com/videos/c/o/v/9b98a843624d4c53a0910fcb7be3f8d3.mp4"
        loop
        autoplay
        muted
        playsinline
        allowsInlineMediaPlayback
      ></video>
    </section>
    <!-- 動画が入るところここまで -->
    <div class="wrapper">
      <div class="story_box story_box_03 fadeUpTrigger">
        <h3 class="story_inner_ttl">見出しが入ります。</h3>
        <p class="txt">
          サンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。<br>
          ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。サンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。<br>
          ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。
        </p>
      </div>
    </div>
  </section>
  <!-- story -->
  <section class="cta fadeUpTrigger">
    <div class="cta_container">
      <div class="cta_txt">
        <p class="en_ttl">CONTACT</p>
        <a href="{{ pages.contact.url }}" class="btn"
          >お問い合わせ<span
            ><img
              src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
              alt=""
              width="43"
              height="43"></span
        ></a>
      </div>
      <!-- cta_txt -->
      <div class="cta_img">
        <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/cta_img.jpg" alt="" width="500" height="289">
      </div>
    </div>
    <!-- cta_container -->
  </section>
  <!-- cta -->
</main>
