<main>
  <section class="about_head sagabeef_head fadeInTrigger">
    <div class="head_img">
      <img
        src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/sagagyu_head_bg.png"
        alt=""
        width="968"
        height="968"
      >
    </div>
    <!-- <div class="subhead_container"> -->
    <div class="head_ttl_box">
      <div class="head_inner_box">
        <!-- <p class="sub_ttl">ABOUT</p> -->
        <h1 class="sub_jp">佐賀牛について</h1>
      </div>
    </div>
    <div class="pc">
      <div class="subhead_nav">
        <ul>
          <li>
            <a href="#tokucho" class="btn"
              >佐賀牛の特徴<span
                ><img
                  src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/toggle_black_d.png"
                  alt=""
                  width="43"
                  height="43"></span
            ></a>
          </li>
          <li>
            <a href="#kankyo" class="btn"
              >佐賀牛の育つ環境<span
                ><img
                  src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/toggle_black_d.png"
                  alt=""
                  width="43"
                  height="43"></span
            ></a>
          </li>
          <li>
            <a href="#howeat" class="btn"
              >おいしい召し上がり方<span
                ><img
                  src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/toggle_black_d.png"
                  alt=""
                  width="43"
                  height="43"></span
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sp">
      <div class="subhead_nav">
        <ul>
          <li>
            <a href="#tokucho" class="btn"
              >佐賀牛の特徴<span
                ><img
                  src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/faq_btn.png"
                  alt=""
                  width="43"
                  height="43"></span
            ></a>
          </li>
          <li>
            <a href="#kankyo" class="btn"
              >佐賀牛の育つ環境<span
                ><img
                  src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/faq_btn.png"
                  alt=""
                  width="43"
                  height="43"></span
            ></a>
          </li>
          <li>
            <a href="#howeat" class="btn"
              >おいしい召し上がり方<span
                ><img
                  src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/faq_btn.png"
                  alt=""
                  width="43"
                  height="43"></span
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- </div> -->
  </section>
  <!-- about_head -->
  <section class="sagabeef_about fadeUpTrigger" id="tokucho">
    <div class="sagabeef_contents_01">
      <div class="sagabeef_bg01">
        <img
          src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/bland_beef.png"
          alt=""
          width="814"
          height="508"
        >
      </div>
      <div class="sagabeef_bg02">
        <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/brand_bg.png" alt="" width="363" height="337">
      </div>
      <div class="wrapper">
        <div class="sagabeef_txt01">
          <h2 class="sagabeef_ttl">佐賀牛の特徴</h2>
          <h3 class="sagabeef_lead">
            最高クラスのみ<br>
            名乗ることを許された、<br>
            希少ブランド
          </h3>
          <p class="sagabeef_txt">
            味の特徴などの説明
            サンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。
          </p>
        </div>
      </div>
      <!-- wrapper -->
    </div>
    <!-- sagabeef_contents_01 -->
    <div class="sagabeef_contents_01 sagabeef_contents_02">
      <div class="sagabeef_bg01">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/sagabeef_about_02sp.png"
          >
          <source
            media="(min-width: 769px)"
            srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/sagabeef_about_02.png"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/sagabeef_about_02.png"
            alt=""
            width="685"
            height="685"
          >
        </picture>
      </div>
      <div class="wrapper">
        <div class="sagabeef_txt01">
          <h2 class="sagabeef_ttl">
            「艶差し」と呼ばれる<br>
            きめ細かい霜降り
          </h2>
          <p class="sagabeef_txt">
            味の特徴などの説明
            サンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。
          </p>
          <h2 class="sagabeef_ttl second">
            ナカオ商店ならではの<br>
            こだわり
          </h2>
          <p class="sagabeef_txt sp_txt">
            サンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。
          </p>
        </div>
      </div>
      <!-- wrapper -->
    </div>
    <!-- sagabeef_contents_01 -->
    <div class="sagabeef_contents_01 sagabeef_contents_03">
      <div class="sagabeef_bg01">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/sagabeef_contents03_bgsp.png"
          >
          <source
            media="(min-width: 769px)"
            srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/sagabeef_contents03_bg.png"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/sagabeef_contents03_bg.png"
            alt=""
            width="685"
            height="685"
          >
        </picture>
      </div>
      <div id="kankyo"></div>

      <div class="sagabeef_bg03"></div>
      <!-- <div class="wrapper"> -->
      <div class="sagabeef_txt01">
        <h2 class="sagabeef_ttl">佐賀牛の育つ環境</h2>
        <p class="sagabeef_txt">
          場所の説明から、だから美味しい、この味がする理由、食べている餌など、味の特徴などの説明
          サンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。
        </p>
        <div class="sagabeef_img">
          <img
            src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/sagabeef_contents03.png"
            alt=""
            width="685"
            height="685"
          >
        </div>
      </div>
      <!-- </div>wrapper -->
    </div>
    <!-- sagabeef_contents_01 -->
  </section>
  <section class="how_eat fadeUpTrigger">
    <div class="wrapper">
      <h2 class="sagabeef_ttl">おいしい召し上がり方</h2>
      <div class="how_container" id="howeat">
        <div class="how_img">
          <img
            src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/how_eat01.jpg"
            alt=""
            width="500"
            height="290"
          >
        </div>
        <div class="how_txt">
          <h3 class="how_eatttl">見出しが入ります</h3>
          <p class="how_txt">
            おすすめの調理方法、焼く時間、保管方法、付け合わせなど生産者のおすすめに対して文章が入ります。サンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。
          </p>
        </div>
      </div>
      <!-- how_container -->
      <div class="how_container">
        <div class="how_img">
          <img
            src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/how_eat01.jpg"
            alt=""
            width="500"
            height="290"
          >
        </div>
        <div class="how_txt">
          <h3 class="how_eatttl">見出しが入ります</h3>
          <p class="how_txt">
            おすすめの調理方法、焼く時間、保管方法、付け合わせなど生産者のおすすめに対して文章が入ります。サンプルテキストです。ここはサンプルテキストです。ここはサンプルテキストです。
          </p>
        </div>
      </div>
      <!-- how_container -->
    </div>
    <!-- wrapper -->
  </section>
  <!-- how_eat -->
  <section class="cta fadeUpTrigger">
    <div class="cta_container">
      <div class="cta_txt">
        <p class="en_ttl">CONTACT</p>
        <a href="{{ pages.contact.url }}" class="btn"
          >お問い合わせ<span
            ><img
              src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
              alt=""
              width="43"
              height="43"></span
        ></a>
      </div>
      <!-- cta_txt -->
      <div class="cta_img">
        <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/cta_img.jpg" alt="" width="500" height="289">
      </div>
    </div>
    <!-- cta_container -->
  </section>
  <!-- cta -->
</main>
