<main>
  <section class="about_head fadeInTrigger">
    <div class="head_img">
      <picture>
        <source
          media="(max-width: 768px)"
          srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/about_head_imgsp.png"
        >
        <source
          media="(min-width: 769px)"
          srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/about_head_img.png"
        >
        <img
          src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/about_head_img.png"
          alt=""
          width="968"
          height="968"
        >
      </picture>
    </div>
    <div class="head_bg">
      <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/about_ttl_bg.png" alt="">
    </div>
    <div class="head_ttl_box">
      <div class="head_inner_box">
        <p class="sub_ttl">ABOUT</p>
        <h1 class="subttl_jp">ナカオ商店について</h1>
      </div>
    </div>
  </section>
  <!-- about_head -->
  <section class="story ">
    <div class="wrapper">
      <h2 class="story_ttl fadeUpTrigger">ブランド誕生ストーリー</h2>
    </div>
    <!-- wrapper -->
    <div class="story_container fadeUnTrigger">
      <div class="story_box">
        <h3 class="story_inner_ttl">
          地元に愛された、<br>
          A５ランクの店。
        </h3>
        <p class="txt">
          佐賀市内、佐賀駅の近くに店を置くナカオ商店。1階がカウンター席、２階がテーブル席となっており、席タイプを分けて営業している。<br>
          １階のカウンター席がメインの店舗は、席ごとに仕切りがついている。駅近ということもあってか、仕事帰りのサラリーマンが席につくことも多い。<br>
          一人でも大勢でもA5ランクの佐賀牛を味わえる店として、<br>
          地元に愛された焼肉屋だ。
        </p>
      </div>
      <div class="story_img">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/story_01_sp.png"
          >
          <source
            media="(min-width: 769px)"
            srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/story_01.jpg"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/story_01.jpg"
            alt=""
            width="665"
            height="490"
          >
        </picture>
      </div>
    </div>
    <div class="story_container reverse fadeUpTrigger">
      <div class="story_box">
        {% comment %} <h3 class="story_inner_ttl">見出しが入ります。</h3> {% endcomment %}
        <p class="txt">
          オーナーがこの店の味を宅配可能にして全国に販売したいと思った経緯として、ある一つの出来事がきっかけだった。<br>
          ある日、夜時間帯のピークも落ち着いてきた頃、１階のカウンター席にスーツの男性が座った。<br>
          最初は市内で働く地元のサラリーマンかと思ったが、注文の時、スタッフに佐賀のおすすめを聞いてきた。聞けば、東京から長期間の出張で来ているという。<br>
          スタッフがおすすめのメニューを伝えると、男性はそれを注文し、そのままスタッフと世間話をした。
        </p>
      </div>
      <div class="story_img">
        <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/story_02.jpg" alt="" width="665" height="490">
      </div>
    </div>
    <!-- 動画が入るところ -->
    <section class="beef_anime">
      <div class="grade"></div>
      <video
        src="https://cdn.shopify.com/videos/c/o/v/9b98a843624d4c53a0910fcb7be3f8d3.mp4"
        loop
        autoplay
        muted
        playsinline
        allowsInlineMediaPlayback
      ></video>
    </section>
    <!-- 動画が入るところここまで -->
    <div class="wrapper">
      <div class="story_box story_box_03 fadeUpTrigger">
        <h3 class="story_inner_ttl">この味を、家族の食卓にも。</h3>
        <p class="txt">
          その男性は仕事が忙しく、長期間の出張も重なってしまい、なかなか家族と旅行に行けていないらしい。出張で全国を回ってその土地の名産を楽しもうとしても、やはり浮かぶのは家族の顔。「家族にも食べてほしいなって、いつも思うんです。この佐賀牛もすごく美味しくて、連れてきてあげられたら一番良いんですけど。せめて自宅にこのまま持ち帰りたいな。」<br>
          すこしだけ悲しそうに笑う男性の顔を見て、オーナーは思った。1人焼肉もファミリー向けも楽しんでもらえる店として営んできたつもりだったが、それはまだまだ店舗に来てくれるお客さんに限った話だ。<br>
          全国各地に、この最高級の味を届けたい。家族団欒の場でも、どうにかして佐賀牛の美味しさを味わってほしい。<br>
          こうして想いを実現するべく、佐賀牛を全国へ宅配可能なギフトとして、ブランドが生まれた。
        </p>
      </div>
    </div>
  </section>
  <!-- story -->
  <section class="cta fadeUpTrigger">
    <div class="cta_container">
      <div class="cta_txt">
        <p class="en_ttl">CONTACT</p>
        <a href="{{ pages.contact.url }}" class="btn"
          >お問い合わせ<span
            ><img
              src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
              alt=""
              width="43"
              height="43"></span
        ></a>
      </div>
      <!-- cta_txt -->
      <div class="cta_img">
        <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/cta_img.jpg" alt="" width="500" height="289">
      </div>
    </div>
    <!-- cta_container -->
  </section>
  <!-- cta -->
</main>
