<main>
  <div class="pages_bg_sp">
    <section class="subapge_head fadeInTrigger">
      <div class="head_img">
        <img
          src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/subpages_head_bg.png"
          alt=""
          width="968"
          height="968"
        >
      </div>
      <h1 class="subapge_jp terms">特定商取引法に基づく表記</h1>
      <!-- <p class="subpage_txt">PRIVACY POLICY</p> -->
    </section>
    <!-- about_head -->
    <div class="wrapper wrapper_terms fadeUpTrigger">
      <section class="company terms">
        <div class="com_contents">
          <div class="inner_contents">
            <dl class="pages_list">
              <dt class="info_head">会社名</dt>
              <dd class="contents">ナカオ商店</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">代表責任者</dt>
              <dd class="contents">吉田 正人</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">所在地</dt>
              <dd class="contents">〒840-0054 佐賀県佐賀市水ケ江三丁目８番9-2号 ＬＵＳＳＯ ７</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">電話番号</dt>
              <dd class="contents">
                0952-97-6699<br>
                受付時間 10:00-18:00（土日祝を除く）<br>
                ※受付時間外の場合は、メールにてお問い合わせください。
              </dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">メールアドレス</dt>
              <dd class="contents">sstmy07@gmail.com</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">サイトURL</dt>
              <dd class="contents">http://nakao-shoten-sagagyu.com/</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">商品の販売価格</dt>
              <dd class="contents">各商品ページをご参照ください。</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">商品代金以外に必要な料金</dt>
              <dd class="contents">
                ・配送料<br class="sp">
                （宅急便：〇〇円、メール便：□□円）<br>
                ・手数料<br class="sp">
                （コンビニ決済：△△円、代引き:××円）
              </dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">支払方法</dt>
              <dd class="contents">
                ■クレジットカード決済・コンビニ決済・代引き<br>
                ■クレジットカード決済：商品注文時にお支払いが確定します。
              </dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">支払時期</dt>
              <dd class="contents">
                ・コンビニ決済：注文後○日以内にお支払いください。<br>
                ・代引き：商品到着時、配達員の方へ現金でお支払いください。
              </dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">商品の発送時期</dt>
              <dd class="contents">ご注文日から○営業日以内に発送いたします。</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">返金について</dt>
              <dd class="contents">
                ご注文確定後のお客様都合によるキャンセル・返品・交換・ご注文内容の変更は、原則承っておりません。<br>
                商品の品質につきましては万全を期しておりますが、万が一、ご注文商品と異なる商品が届いた場合や、配送中などになんらかの不備が生じた場合は速やかに代替品などの手配を取らせていただきます。<br>
                ご注文商品と異なる商品や不良品をお届けした場合、商品到着後7日以内に下記メールアドレスまたはお電話にてご連絡いただきますようお願い申し上げます。<br>
                sstmy07@gmail.com<br>
                0952-97-6699<br>
                受付時間 10:00-18:00（土日祝を除く）<br>
                商品の汚損・破損等、当店の不手際による返品の場合の送料は当店にて負担いたします。
              </dd>
            </dl>
          </div>
        </div>
      </section>
      <!-- company -->
    </div>
  </div>
  <section class="cta fadeUpTrigger">
    <div class="cta_container">
      <div class="cta_txt">
        <p class="en_ttl">CONTACT</p>
        <a href="{{ pages.contact.url }}" class="btn"
          >お問い合わせ<span
            ><img
              src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
              alt=""
              width="43"
              height="43"></span
        ></a>
      </div>
      <!-- cta_txt -->
      <div class="cta_img">
        <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/cta_img.jpg" alt="" width="500" height="289">
      </div>
    </div>
    <!-- cta_container -->
  </section>
  <!-- cta -->
</main>
