<main>
  <section class="about_head sagabeef_head fadeInTrigger">
    <div class="head_img">
      <img
        src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/sagagyu_head_bg.png"
        alt=""
        width="968"
        height="968"
      >
    </div>
    <!-- <div class="subhead_container"> -->
    <div class="head_ttl_box">
      <div class="head_inner_box">
        <!-- <p class="sub_ttl">ABOUT</p> -->
        <h1 class="sub_jp">佐賀牛について</h1>
      </div>
    </div>
    <div class="pc">
      <div class="subhead_nav">
        <ul>
          <li>
            <a href="#tokucho" class="btn"
              >佐賀牛の特徴<span
                ><img
                  src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/toggle_black_d.png"
                  alt=""
                  width="43"
                  height="43"></span
            ></a>
          </li>
          <li>
            <a href="#kankyo" class="btn"
              >佐賀牛の育つ環境<span
                ><img
                  src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/toggle_black_d.png"
                  alt=""
                  width="43"
                  height="43"></span
            ></a>
          </li>
          <li>
            <a href="#howeat" class="btn"
              >おいしい召し上がり方<span
                ><img
                  src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/toggle_black_d.png"
                  alt=""
                  width="43"
                  height="43"></span
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sp">
      <div class="subhead_nav">
        <ul>
          <li>
            <a href="#tokucho" class="btn"
              >佐賀牛の特徴<span
                ><img
                  src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/faq_btn.png"
                  alt=""
                  width="43"
                  height="43"></span
            ></a>
          </li>
          <li>
            <a href="#kankyo" class="btn"
              >佐賀牛の育つ環境<span
                ><img
                  src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/faq_btn.png"
                  alt=""
                  width="43"
                  height="43"></span
            ></a>
          </li>
          <li>
            <a href="#howeat" class="btn"
              >おいしい召し上がり方<span
                ><img
                  src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/faq_btn.png"
                  alt=""
                  width="43"
                  height="43"></span
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- </div> -->
  </section>
  <!-- about_head -->
  <section class="sagabeef_about fadeUpTrigger" id="tokucho">
    <div class="sagabeef_contents_01">
      <div class="sagabeef_bg01">
        <img
          src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/bland_beef.png"
          alt=""
          width="814"
          height="508"
        >
      </div>
      <div class="sagabeef_bg02">
        <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/brand_bg.png" alt="" width="363" height="337">
      </div>
      <div class="wrapper">
        <div class="sagabeef_txt01">
          <h2 class="sagabeef_ttl">佐賀牛の特徴</h2>
          <h3 class="sagabeef_lead">
            最高クラスのみ<br>
            名乗ることを許された、<br>
            希少ブランド
          </h3>
          <p class="sagabeef_txt">
            佐賀牛は、佐賀で生まれる黒毛和牛の中でも日本食肉格付協会による格付け基準をクリアした牛のみがその名を名乗ることができる。「脂肪交雑（BMS値）＝霜降りの度合い」、「肉の色沢」、「肉の締まりとキメ」、「脂肪の色沢と質」の４つを評価基準として『肉質等級』を定め、基準値をクリアした銘柄のみが佐賀牛と呼ばれる。
          </p>
        </div>
      </div>
      <!-- wrapper -->
    </div>
    <!-- sagabeef_contents_01 -->
    <div class="sagabeef_contents_01 sagabeef_contents_02">
      <div class="sagabeef_bg01">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/sagabeef_about_02sp.png"
          >
          <source
            media="(min-width: 769px)"
            srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/sagabeef_about_02.png"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/sagabeef_about_02.png"
            alt=""
            width="685"
            height="685"
          >
        </picture>
      </div>
      <div class="wrapper">
        <div class="sagabeef_txt01">
          <h2 class="sagabeef_ttl">
            「艶差し」と呼ばれる<br>
            きめ細かい霜降り
          </h2>
          <p class="sagabeef_txt">
            赤身と脂身がほどよいバランスで含まれたキメ細かな霜降りは、「艶差し」と称され、佐賀牛最大の特徴。<br>
            その美しい見た目に劣らない深みのある味わいは、世界に誇るべき品質で、美食家の間でも多くのファンが存在する。
          </p>
          <h2 class="sagabeef_ttl second">
            ナカオ商店ならではの<br>
            こだわり
          </h2>
          <p class="sagabeef_txt sp_txt">
            ナカオ商店は、JAさがグループの佐賀牛取扱指定の認可を受け、佐賀牛を提供している。<br>
            九州・近畿以外では取扱が少ない佐賀牛の味をご家庭でも楽しんでいただくために、店舗で提供する品質を保ったままお届けすることにこだわった。
          </p>
        </div>
      </div>
      <!-- wrapper -->
    </div>
    <!-- sagabeef_contents_01 -->
    <div class="sagabeef_contents_01 sagabeef_contents_03">
      <div class="sagabeef_bg01">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/sagabeef_contents03_bgsp.png"
          >
          <source
            media="(min-width: 769px)"
            srcset="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/sagabeef_contents03_bg2.png"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/sagabeef_contents03_bg2.png"
            alt=""
            width="685"
            height="685"
          >
        </picture>
      </div>
      <div id="kankyo"></div>

      <div class="sagabeef_bg03"></div>
      <!-- <div class="wrapper"> -->
      <div class="sagabeef_txt01">
        <h2 class="sagabeef_ttl">佐賀牛の育つ環境</h2>
        <p class="sagabeef_txt">
          佐賀の雄大な自然では、気候、大地、水、全ての恩恵を受けることができる。「清水川」、「竜門の清水」など名水百選に恵まれた環境に囲まれ、独自に配合された飼料を食べ、ストレスをかけないように手間暇をかけて育てられている。
        </p>
        <div class="sagabeef_img">
          <img
            src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/sagabeef_contents03.png"
            alt=""
            width="685"
            height="685"
          >
        </div>
      </div>
      <!-- </div>wrapper -->
    </div>
    <!-- sagabeef_contents_01 -->
  </section>
  <section class="how_eat fadeUpTrigger" id="howeat">
    <div class="wrapper">
      <h2 class="sagabeef_ttl">おいしい召し上がり方</h2>
      <div class="how_container">
        <div class="how_img">
          <img
            src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/howeat01.jpg"
            alt=""
            width="500"
            height="290"
          >
        </div>
        <div class="how_txt">
          <h3 class="how_eatttl">ステーキで</h3>
          <p class="how_txt">
            イチオシの食べ方は、やはりステーキ。<br>
            さっと焼いて、佐賀牛のとろける口どけをぜひ堪能してみてください。
          </p>
        </div>
      </div>
      <!-- how_container -->
      <div class="how_container">
        <div class="how_img">
          <img
            src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/howeat02.jpg"
            alt=""
            width="500"
            height="290"
          >
        </div>
        <div class="how_txt">
          <h3 class="how_eatttl">しゃぶしゃぶで</h3>
          <p class="how_txt">
            ぜひ、佐賀牛のモモでお楽しみください。和牛独特の甘みと赤身のうまみが豊富です。それに加えてほどよい歯ごたえがあるので、噛むごとに美味しさが口の中に広がります。
          </p>
        </div>
      </div>
      <!-- how_container -->
    </div>
    <!-- wrapper -->
  </section>
  <!-- how_eat -->
  <section class="cta fadeUpTrigger">
    <div class="cta_container">
      <div class="cta_txt">
        <p class="en_ttl">CONTACT</p>
        <a href="{{ pages.contact.url }}" class="btn"
          >お問い合わせ<span
            ><img
              src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
              alt=""
              width="43"
              height="43"></span
        ></a>
      </div>
      <!-- cta_txt -->
      <div class="cta_img">
        <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/cta_img.jpg" alt="" width="500" height="289">
      </div>
    </div>
    <!-- cta_container -->
  </section>
  <!-- cta -->
</main>
