<main>
  <div class="pages_bg_sp">
    <section class="subapge_head fadeInTrigger">
      <div class="head_img">
        <img
          src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/subpages_head_bg.png"
          alt=""
          width="968"
          height="968"
        >
      </div>
      <h1 class="subapge_jp terms">特定商取引法に基づく表記</h1>
      <!-- <p class="subpage_txt">PRIVACY POLICY</p> -->
    </section>
    <!-- about_head -->
    <div class="wrapper wrapper_terms fadeUpTrigger">
      <section class="company terms">
        <div class="com_contents">
          <div class="inner_contents">
            <dl class="pages_list">
              <dt class="info_head">会社名</dt>
              <dd class="contents">ナカオ商店</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">代表責任者</dt>
              <dd class="contents">吉田 正人</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">所在地</dt>
              <dd class="contents">〒840-0054 佐賀県佐賀市水ケ江三丁目８番9-2号 ＬＵＳＳＯ ７</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">電話番号</dt>
              <dd class="contents">
                0952-97-6699<br>
                受付時間 10:00-18:00（土日祝を除く）<br>
                ※受付時間外の場合は、メールにてお問い合わせください。
              </dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">メールアドレス</dt>
              <dd class="contents">sstmy07@gmail.com</dd>
            </dl>
            {% comment %}
              <dl class="pages_list">
                <dt class="info_head">サイトURL</dt>
                <dd class="contents">http://nakao-shoten-sagagyu.com/</dd>
              </dl>
            {% endcomment %}
            <dl class="pages_list">
              <dt class="info_head">取扱商品</dt>
              <dd class="contents">肉</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">販売価格</dt>
              <dd class="contents">各商品ページをご参照ください。</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">商品代金以外に必要な料金</dt>
              <dd class="contents">送料・手数料（代引き手数料一律300円+税）はお客様のご負担となります。</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">送料について</dt>
              <dd class="contents">送料無料（商品代金に含む）</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">申し込みの有効期限</dt>
              <dd class="contents">
                原則、ご注文から7日間とさせて頂いております。<br>
                7日間以内にご入金を確認出来なかった場合は、購入の意思がないものとし、注文を自動的にキャンセルとさせて頂きます。
              </dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">不良品</dt>
              <dd class="contents">
                商品の欠陥など、当店の不手際により不備が発生した場合は、代品がある場合には交換、無い場合にはご返品・ご返金としてご対応致します。
              </dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">販売数量</dt>
              <dd class="contents">特に指定はございません（商品によって設定あり）</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">引き渡し時期</dt>
              <dd class="contents">
                ご注文・決済完了後、5営業日以内に発送致します。<br>
                ※製造・ご注文の状況により、発送日が前後する可能性がございます。あらかじめご了承ください。<br>
                ※お急ぎの方は、お問い合わせフォームよりご相談下さい。
              </dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">支払方法</dt>
              <dd class="contents">クレジット・代引き</dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">お支払い期限</dt>
              <dd class="contents">
                代金引換の場合<br>
                商品のお届け時に、配達員に代金のお支払いをお願いします。
              </dd>
            </dl>
            <dl class="pages_list">
              <dt class="info_head">返品・交換について</dt>
              <dd class="contents">
                商品の欠陥など、当店の不手際により不備が発生した場合は、代品がある場合には交換、無い場合にはご返品・ご返金として対応致します。<br>
                商品到着後1週間以内に、お問合せフォームまたはお電話にてご連絡を頂けますようお願い申し上げます。<br>
                その際お手数ですが、①お名前、②お電話番号、③受注番号（「ご注文確認メール」に記載されております）をお知らせ下さい。<br>
                手続きの手順について、ご案内させて頂きます。
              </dd>
            </dl>
          </div>
        </div>
      </section>
      <!-- company -->
    </div>
  </div>
  <section class="cta fadeUpTrigger">
    <div class="cta_container">
      <div class="cta_txt">
        <p class="en_ttl">CONTACT</p>
        <a href="{{ pages.contact.url }}" class="btn"
          >お問い合わせ<span
            ><img
              src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/btn_img.png"
              alt=""
              width="43"
              height="43"></span
        ></a>
      </div>
      <!-- cta_txt -->
      <div class="cta_img">
        <img src="https://cdn.shopify.com/s/files/1/0705/7381/8094/files/cta_img.jpg" alt="" width="500" height="289">
      </div>
    </div>
    <!-- cta_container -->
  </section>
  <!-- cta -->
</main>
